.searchBar {
    padding: 15px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f0f0f0;
}

.searchInput {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
    font-size: 16px;
}

.searchIcons {
    display: flex;
    gap: 10px;
}
