.container {
    width: 100%;
    max-width: 600px;
    margin: auto;
    background-color: #f2f7f7;
    min-height: 100vh;
    padding: 20px 0;
    text-align: center;
    border-radius: 8px;
    justify-content: center;
}

.title {
    color: #b5391c;
    font-size: 36px;
    font-weight: bold;
    margin: 30px 0;
}

.row {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 30px;
}

.center {
    display: flex;
    justify-content: center;
}
