body{
    width: 100%;
    max-width: 600px;
    margin: auto;
    background-color: #f2f7f7;
    min-height: 100vh;
    padding: 20px 0;
    text-align: center;
    border-radius: 8px;
    justify-content: center;
}

.title {
    color: #b5391c;
    font-size: 1000px;
    font-weight: bold;
    margin: 30px 0;
}

.row {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 30px;
}

.center {
    display: flex;
    justify-content: center;
}

@media (max-width: 480px) {
  body {
    padding: 20px 10px;
  }

  .row {
    flex-wrap: wrap; 
    gap: 12px;
  }

  .title {
    font-size: 28px;
  }
}


@media (max-width: 350px) {
  .title {
    font-size: 24px;
  }
}


@media (min-width: 768px) {
  body {
    max-width: 700px;
  }

  .title {
    font-size: 40px;
  }

  .row {
    gap: 30px;
  }
}