.container {
  width: 100%;
  max-width: 600px;
  margin: auto;
  background-color: #f2f7f7;
  min-height: 100vh;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  position: relative;
  padding-bottom: 120px;
  border-radius: 8px;
}

.verseCard {
  background-color: #0a0e57;
  border-radius: 12px;
  padding: 20px;
  margin: 20px 20px;
  color: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.verseTitle {
  font-size: 20px;
  font-weight: bold;
  margin: 0 0 15px 0;
  text-align: left;
}

.verseText {
  font-size: 22px;
  font-style: italic;
  line-height: 1.6;
  margin: 0 0 15px 0;
  text-align: left;
}

.verseFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.verseReference {
  font-size: 18px;
  text-align: left;
}

.speakerButton {
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.speakerButton:hover {
  opacity: 0.8;
}

.testamentButton {
  background-color: #0a0e57;
  color: white;
  border: none;
  border-radius: 12px;
  padding: 25px 18px;
  font-size: 25px;
  font-weight: 500;
  margin: 0 20px 15px 20px;
  cursor: pointer;
  transition: opacity 0.2s;
  width: calc(100% - 40px);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 150px;
}

.testamentButton:hover {
  opacity: 0.9;
}

.testamentButton:active {
  opacity: 0.8;
}

.navigationBar {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 600px;
  background-color: #b5391c;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
}

.backButton {
  background: transparent;
  border: none;
  color: white;
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  font-size: 24px;
  padding: 5px;
}

.backButton:hover {
  opacity: 0.8;
}

.homeButton {
  background: transparent;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 5px;
  bottom: 20px;
  margin-right: 20px;
}

.homeButton:hover {
  opacity: 0.8;
}

@media (max-width: 420px) {

  .verseTitle {
    font-size: 18px;
  }

  .verseText {
    font-size: 18px;
  }

  .verseReference {
    font-size: 16px;
  }

  .testamentButton {
    font-size: 20px;
    min-height: 120px;
    padding: 20px;
  }

  .backButton {
    font-size: 20px;
  }
}


@media (max-width: 350px) {
  .verseCard {
    padding: 15px;
  }

  .verseTitle {
    font-size: 16px;
  }

  .verseText {
    font-size: 16px;
  }

  .testamentButton {
    font-size: 18px;
    min-height: 110px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 700px;
  }

  .verseTitle {
    font-size: 22px;
  }

  .verseText {
    font-size: 24px;
  }

  .testamentButton {
    font-size: 28px;
    min-height: 170px;
  }
}