.card {
  background-color: #0a0e57;
  width: 180px;
  height: 200px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  cursor: pointer;
  transition: 0.2s;
  margin-top: 60px;
}

.card:hover {
    transform: scale(1.05);
}

.icon {
    width: 55px;
}

.label {
    margin-top: 8px;
    color:#ffffff;
    font-weight: bold;
    font-size: 16px;
}

@media (max-width: 420px) {
  .card {
    width: 140px;
    height: 160px;
  }

  .icon {
    width: 45px;
  }

  .label {
    font-size: 14px;
  }
}

@media (max-width: 350px) {
  .card {
    width: 120px;
    height: 140px;
  }

  .icon {
    width: 40px;
  }

  .label {
    font-size: 13px;
  }
}

@media (min-width: 768px) {
  .card {
    width: 200px;
    height: 220px;
  }

  .icon {
    width: 65px;
  }

  .label {
    font-size: 18px;
  }
}